.card-container {
  padding-bottom: 1rem;
  text-align: center;
  box-sizing: border-box;
  &--img {
    object-fit: cover;
    height: 125px;
    width: 20vw;
  }
  &--title {
  }
  &__details {
    &--population {
    }
    &--region {
    }
    &--capital {
    }
  }
}
