.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(190, 190, 190);
  margin: 1rem 0 0 0;
  padding: 0 5rem;
  font-size: 1.2em;
  @media screen and (max-width: 1200px) {
    padding: 0 3rem;
  }
  @media screen and (max-width: 490px) {
    padding: 0 1rem;
  }
  &--title {
    font-weight: 800;
    padding-bottom: 0.5rem;
  }
  &__btn {
    margin-bottom: 1rem;
    font-size: 0.7em;
    font-weight: 800;
    cursor: grab;
    &--name {
    }
  }
}
