@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import './components/navigation.scss';
@import './components/country.scss';
@import './components/countries.scss';
@import './components/flagDetail.scss';

body {
  font-family: 'Nunito Sans', sans-serif;
}

.app {
  width: 100%;
  height: 100%;
}
